<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Services.plist
   EnvironmentHelperExample

   Created by Sergey Petrachkov on 06/12/2018.
   Copyright (c) 2018 Actonica. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>develop</key>
    <string>http://dev.server.com</string>
    <key>staging</key>
    <string>https://staging.server.com</string>
    <key>production</key>
    <string>https://server.com</string>
  </dict>
</plist>
